<div id="<%= dom_id password_record %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Url:</strong>
    <%= password_record.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Url:</strong>
    <%= password_record.url %>
  </div>
</div>
